# One hot encoding using Pandas

Reference: https://blog.cambridgespark.com/robust-one-hot-encoding-in-python-3e29bfcec77e

## Let's create a dataset

In [7]:
import pandas as pd

df = pd.DataFrame([["Mumbai","car",20],
                  ["Delhi","car",10],
                  ["Bangalore","bus",39]],columns=["city","transport","duration"])
df

        city transport  duration
0     Mumbai       car        20
1      Delhi       car        10
2  Bangalore       bus        39

In [3]:
df_test = pd.DataFrame([["Manchester", "bike", 30], 
                        ["Cambridge", "car", 40], 
                        ["Liverpool", "bike", 10]], 
                       columns=["city", "transport", "duration"])

### Using Panda's one hot encoding

In [8]:
cat_columns=["transport"]

In [11]:
df_processed = pd.get_dummies(df, 
                              columns=cat_columns)

In [12]:
df_processed

        city  duration  transport_bus  transport_car
0     Mumbai        20              0              1
1      Delhi        10              0              1
2  Bangalore        39              1              0